{% extends "ghru4pxsa3/layout.html.twig" %}

{% block title %}
Blog Beitrag bearbeiten
{% endblock %}

{% block content %}

		<div class="f-settings-container-fluid">
		<div class="friend-settings-container-fluid">
{{ form_open()|raw }}
<div class="form-group">
    <label>Titel</label>
    <input type="text" class="form-control" name="title" value="{{ form_value('title', post.title) }}" />
</div>
<div class="form-group">
    <label>Text</label>
    <textarea class="form-control" rows="10" id="contents" name="contents">{{ form_value('contents', post.contents) }}</textarea>
</div>
<div class="form-group">
    <label>Popup</label>
    <select name="pop" class="form-control">
    <option {% if post.pop == 'no' %} selected=""{% endif %} value="no">no</option>
    <option {% if post.pop == 'yes' %} selected=""{% endif %}  value="yes">yes</option>
    </select>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-success btn-raised btn-block btn-lg" value="speichern" />
</div>
{{ form_close()|raw }}
{% endblock %}