{% extends "layout.html.twig" %}

{% block title %}
Blog |  
{% endblock %}

{% block content %}
                                            
    
    <div class="panel panel-default">
  <div class="panel-heading">Blog</div>
</div>
    
<div class="well">

    
  <!-- First Blog Post -->
                {% for post in posts %}

                <!-- Second Blog Post -->
                <h2>{{ post.title }}</h2>
                <p><i class="fa fa-calendar"></i> Posted on {{ post.created_at|date('F, d Y H:i') }}</p>
                <hr>
                
                {{ post.contents|raw }}

                
                <hr>

                {% endfor %}
                


{% endblock %}